@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    string SignIn = "Admin@yahoo.com";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Telephones</title>
    <link rel="stylesheet" href="~/css/Bootswatch.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Telephones.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/Home/Index">Telephones</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Information" asp-action="Index">Information</a>
                        </li>
                        <li class="nav-item">
                            @if (@SignIn == @User.Identity?.Name && SignInManager.IsSignedIn(User))
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Information" asp-action="SearchPhone">Search Phone</a>
                            }
                            else if (@SignIn != @User.Identity?.Name && SignInManager.IsSignedIn(User))
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Information" asp-action="SearchPhone">Search Phone</a>
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Search Phone(Needs Login)</a>
                            }
                        </li>
                        <li class="nav-item">
                            @if (@SignIn == @User.Identity?.Name && SignInManager.IsSignedIn(User))
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Information" asp-action="SearchName">Search Name</a>
                            }
                            else if (@SignIn != @User.Identity?.Name && SignInManager.IsSignedIn(User))
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Information" asp-action="SearchName">Search Name</a>
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Search Name(Needs Login)</a>
                            }
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="DetailsProject">Project Details</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>      
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Telephones
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
